---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=edamam_id&app_key=edamam_key&q=xyz
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"q":"xyz","from":0,"to":10,"more":false,"count":0,"hits":[]}'
  recorded_at: Sun, 06 Aug 2023 17:37:55 GMT
recorded_with: VCR 6.2.0
